<div class=" bg-info">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center"><h2 class=" pt-3  text-dark"><strong>Listing all articles </strong></h2>
                                        <%=link_to 'Create a new article',new_article_path, class: "btn btn-light btn-lg  btn-outline-dark"  %>

                </div>
                        <% obj.each do |f| %>
                 <div class="card article my-4">
                    <div class="card-header">
                    <h2><strong class="text-primary"> <%= f.title %> </strong> </h2>
                    </div>
                    <div class="card-body">
                        <div class="card-title text-dark">
                        <h3> <%= f.description %> </h3> 
                        <small class=" card-footer my-0">Created by:  <%= f.user.user %>
                               Created at:  <%= time_ago_in_words(f.created_at) %>
                               Updated at: <%= time_ago_in_words(f.updated_at) %> </small>
                                 
                        </div>
                        <div class="card-footer">
                            <div class="buttons mt-1">
                                <%=link_to 'Edit this article',edit_article_path(f), class: "btn btn-primary mr-4 btn-outline-light"  %>
                                <%= link_to 'Delete', article_path(f), method: :delete , data: { confirm: 'Are you sure?' } ,class: "btn btn-danger btn-outline-light mr-4" %>
                                <%= link_to 'Show', article_path(f), class: "btn btn-success btn-outline-light" %>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>